.background-filter::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  /* width: 100%; */
  top: 0;
}

.background-filter {
  position: relative;
}


/* Use for content that should not be blurred */
.u-non-blurred {
  position: relative;
  z-index: 1;
}